<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.nayaware.dbtools.jdbcDriver">
      <jdbcConnectionDriver
            connectionTypeInfo="com.mysql.driver.MySqlConnectionType"
            displayName="MySQL"
            id="com.mysql.driver"
            jdbcDriverClass="com.mysql.jdbc.Driver"
            jdbcDriverType="4">
      </jdbcConnectionDriver>
   </extension> 
</plugin>
